---
layout: page
title: Videos
permalink: /videos/
visible: true
---

<ul>
    <h2>Outdoors</h2>
    <p>Experience the outdoors. See my <a href="https://www.youtube.com/@OutdoorsMemoriesPNW">Outdoors Memories</a> channel on YouTube.</p>
    {% include youtube.html videos=site.data.videos-outdoors %}

    <h2>Computing</h2>
    <p>Experience old computers. See my <a href="https://www.youtube.com/@computingmemories1149">Computing Memories</a> channel on YouTube.</p>
    {% include youtube.html videos=site.data.videos-computing %}
</ul>
