---
---

$content-width: 80%;

@import "minima";

.button {
    margin-right: 10px;
    text-decoration: none;
    color: $text-color;
    padding: 6px 10px 6px 10px;
    border-top: 1px solid $text-color;
    border-right: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    border-left: 1px solid $text-color;
    border-radius: 4px;
    line-height: 45px;
    white-space: nowrap;
}

.button:hover {
    background-color: #EEEEEE;
    text-decoration: none;
    color: $text-color;
}

.button:visited {
    color: $text-color;
}

.card {
    vertical-align: top;
    width: 400px;
    height: 280px;
    display: inline-block;
}

.card-image {
    width: 275px;
}

.card-text {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}